mixin loader()
  .loader(data-loader="container")
    .container
      .loader__box
        .loader__box-wrapper(data-loader="box")
          .loader__box-item
          .loader__box-item
          .loader__box-item
          .loader__box-item
